// Colors
$white-red: #f05323;
$dark-red: #d63031;
$dark-pink: #e84393;
$dark-gray: #002d43;
$light-blue: #0a9082;
$light-blue2: #0A9080;
$light-blue3: #0d5153;
$dark-blue: #243064;
$white: #ffffff;
$grey1:#fafbfb;
$grey2:#EFEFEF; 
$grey3:#e7e7e7;
$black: #000000;