.accelerate-Migration-section {
  padding: 50px 0px 50px 0px;
  position: relative;

  .accelerate-Migration-header {
    margin-bottom: 2rem;
    text-align: center;
    h2 {
      color: $white;
      @include fluid-type($min_width, $max_width, 23px, 24px);
      line-height: 1.2em;
      font-weight: 600;
    }
  }

  .accelerate-Migration-item {
    padding: 25px 25px 050px 25px;
    background-color: $white;
    box-shadow: 0px 0px 55px 0px #00000030;
    height: 100%;
    width: 100%;
    margin: auto;
    .accelerate-Migration-item__header {
      margin-bottom: 1rem;
      h3 {
        color: $light-blue3;
        @include fluid-type($min_width, $max_width, 20px, 21px);
        line-height: 1.5em;
        font-weight: 600;
        text-transform: capitalize;
      }
    }

    .accelerate-Migration-item__content {
      p {
        @include fluid-type($min_width, $max_width, 16px, 18px);
        font-weight: 400;
      }
    }
  }
}
@media (max-width: 767px) {
  .accelerate-Migration-section {
    padding: 50px 0;
  }

  .accelerate-Migration-section .col-lg-4 {
    margin-bottom: 1.5rem;
  }
}
