.forte-header {
  position: fixed;
  width: 100%;
  background-color: $white;
  z-index: 11;
  top: 0;
  .brand-logo {
    text-align: left;
    img {
      width: 23%;
    }
  }
  .header-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    .btn-forte-primary {
      @include fluid-type($min_width, $max_width, 11px, 17px);
    }
  }
}

@media (max-width: 767px) {
  .forte-header {
    padding: 1rem 0;
  }
  .forte-header .brand-logo img {
    width: 60%;
  }
}
